
/*
General Styling
*/

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}



/*
Header Styling
*/


header {
    background-color: #303030;

    box-shadow: 0px 1px 1px 2px blue inset;
}

.header-top {
    max-width: 1010px;
    margin: auto;
    padding: 1rem 1rem;

    box-shadow: 0px 1px 1px 2px black inset;
}

.brand {
    float: left;
    height: 85px;
    width: 170px;

    box-shadow: 0px 1px 1px 2px green inset;
}


.nav-social {
    float: right;

    box-shadow: 0px 1px 1px 2px red inset;
}

.nav-social a img {
    position: relative;
    top: 7px;
}

.nav-social a .fb-icon {
    top: 5px;
}


.nav-sign-sub {
    float: right;

    box-shadow: 0px 1px 1px 2px yellow inset;
}

.nav-sign-sub a {
    padding-right: 12px;

    color: #9d9d9d;
    font-size: .75rem;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

.sign-in-icon {
    position: relative;
    top: 7px;
}

.sub-icon {
    position: relative;
    top: 12px;
}

.search {
    clear: right;
    float: right;
    margin-top: 10px;

    box-shadow: 0px 1px 1px 2px purple inset;
}

.search input {
    width: 300px;
    height: 33px;
    
    padding-left: 15px;
    letter-spacing: .08rem;
    text-transform: uppercase;

    color: #fff;
    background-color: #303030;
    border: 1px solid #424242;
}

.header-bottom {
    max-width: 1010px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    box-shadow: 0px 1px 1px 2px red inset;
}

.nav {
    box-shadow: 0px 1px 1px 2px brown inset;
}

.nav {
    #width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #9d9d9d;
    font-size: .85rem;
    text-transform: uppercase;
    line-height: 2.25rem;
}



/*
Main Top Styling
*/


.main {
    max-width: 1035px;
    padding: 1rem;

    box-shadow: 0px 1px 1px 2px black inset;
}

.main-top {
    margin-top: 1.1rem;

    box-shadow: 0px 1px 1px 2px yellow inset;
}

.top-pic {
    box-shadow: 0px 1px 1px 2px blue inset;
}

.top-pic img {
    width: 100%;
}

.info {
    font: 4rem;
    text-align: center;

    box-shadow: 0px 1px 1px 2px gray inset;
}

/*
News Styling
*/

.news {
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0px 1px 1px 2px pink inset;
}

.news article {
    height: 300px;

    box-shadow: 0px 1px 1px 2px red inset;
}

.section-bottom {
    display: flex;
    justify-content: center;

    box-shadow: 0px 1px 1px 2px blue inset;
}

.more-button {
    height: 100px;
    width: 300px;


    box-shadow: 0px 1px 1px 2px black inset;
}

/*
Features Styling
*/

.features {
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0px 1px 1px 2px yellow inset;
}

.features-top {
    box-shadow: 0px 1px 1px 2px red inset;
}

.title {
    height: 50px;

    box-shadow: 0px 1px 1px 2px green inset;
}

.features-top-pic {
    position: relative;
    height: 500px;

    box-shadow: 0px 1px 1px 2px brown inset;
}

.features-top-info {
    position: absolute;
    bottom: 50px;
    left: 30px;
    height: 100px;
    width: 90%;

    box-shadow: 0px 1px 1px 2px pink inset;
}

.features article {
    height: 200px;

    box-shadow: 0px 1px 1px 2px pink inset;
}


/*
Clubs Styling
*/

.clubs {
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0px 1px 1px 2px yellow inset;
}

.clubs .col-p-9 {
    height: 500px;

    box-shadow: 0px 1px 1px 2px black inset;
}

.clubs article {
    height: 200px;

    box-shadow: 0px 1px 1px 2px pink inset;
}

/*
Miller
*/

.miller {
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0px 1px 1px 2px yellow inset;
}

.miller .col-p-9 {
    height: 500px;

    box-shadow: 0px 1px 1px 2px black inset;
}

.miller article {
    height: 200px;

    box-shadow: 0px 1px 1px 2px pink inset;
}


/*
Footer
*/

footer {
    padding-bottom: 50px;

    box-shadow: 0px 1px 1px 2px red inset;
}

.footer-top {
    box-shadow: 0px 1px 1px 2px brown inset;
}

.top-link {
    display: inline-block;
    height: 60px;
    width: 200px;
 
    box-shadow: 0px 1px 1px 2px orange inset;
}

.nav-footer-top {
    height: 80px;
 
    box-shadow: 0px 1px 1px 2px black inset;
}

.nav-footer-bottom {
    height: 80px;
 
    box-shadow: 0px 1px 1px 2px purple inset;
}

.footer-bottom {
    height: 60px;
     
    box-shadow: 0px 1px 1px 2px yellow inset;
}